@import "tailwindcss";

/* 1. Diz ao novo Tailwind para usar a classe .dark gerada pelo nosso botão */
@variant dark (&:where(.dark, .dark *));

/* 2. Cores do Modo Claro (Padrão) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 3. Cores do Modo Escuro (Ativadas pelo botão) */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}